################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cpp_learning/.vs/cpp_learning/v16/Browse.VC.db
/cpp_learning/.vs/cpp_learning/v16/Browse.VC.opendb
